* {
    margin: 0;
    padding:0;
}
body
{

    background: url("assets/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
}




.test{
animation: loading 115s linear infinite;
}
.test1{
animation: loading 120s linear infinite;
}
.test2{
animation: loading 105s linear infinite;
}
.test3{
animation: loading 110s linear infinite;
}
.test4{
animation: loading 65s linear infinite;
}
.test5{
animation: loading 85s linear infinite;
}
.test6{
animation: loading 70s linear infinite;
}
.test7{
animation: loading 75s linear infinite;
}
.test8{
animation: loading 95s linear infinite;
position: absolute;
top:268px;
}
.test9{
animation: loading 80s linear infinite;
}
.test10{
animation: loading 90s linear infinite;
}

.PET1{
	position: absolute;
	top:165px;
}
@keyframes loading {
0%{
	transform: rotate(0);
}
100%{
	transform: rotate(360deg);
}
}

.nav
{
	/*background-color: #6C7B8B; essa cor n é melhor visse*/
	background-color:#333;
	position:fixed;
	overflow: hidden;
	width:100%;
 	z-index:1;
}

/* Style the links inside the navigation bar */
.navindo
{
	margin-left:14%;
}

.nav a
{
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 50px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 520;
}

/* Change the color of links on hover */
.nav a:hover
{
	background-color: #ddd;
	color:black;
	/*background-color: #4682B4;*/
}

/* Add an active class to highlight the current page
.nav a.active
{
	background-color: #4CAF50;
	color: white;
}*/

/* Hide the link that should open and close the topnav on small screens */
.nav .icon
{
	display: none;
}

/*functions*/

/*quando a tela for <= 600px, esconda todos os links, exceto bem-vindo,
e mostre o link que contém o hamburguer(.icon)*/
@media screen and (max-width: 700px)
{
	.nav a:not(:first-child) {display:none}
	.nav a.icon
	{
		float:right;
		display:block;
	}
}

/*adiviona a classe "responsive" pro nav com javascript quando a pessoa
clica no icone;mostra os link um em cima do outro e n horizontal */
@media screen and (max-width: 700px)
{
	.nav.responsive {position: relative;}
	.nav.responsive a.icon {
		position: absolute;
		right: 0;
	    top: 0;
	}
	.nav.responsive a
	{
		float: none;
		display: block;
	    text-align: left;
	}
}
.cursos{
font-style: normal;
font-variant-ligatures: normal;
font-variant-caps: normal;
font-variant-numeric: normal;
font-variant-east-asian: normal;
font-weight: 300;
font-stretch: normal;
font-size: 18px;
line-height: 1.5;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.link{
 text-decoration:none;
 color: #F8F8FF;
 font-size: 15px;
 font-family: 'Open Sans'
}
